/*----------VARIABLES CSS---------*/

:root {
    /*Colors*/
    
    --first-hue: 360;
    --sat: 65%;
    --light: 95%;
    --second-hue: 200;

    --first-color: hsl(var(--first-hue), var(--sat), var(--light));
    --first-color-alt:hsl(var(--first-hue), var(--sat), 71%);
    --title-color: hsl(var(--second-hue), 25%, 75%);
    --text-color: hsl(var(--second-hue), 10%, 75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 7%, 28%);

    /*Font and typography*/

    --body-font: "Roboto Slab", serif;

    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.625rem;

    --font-medium: 400;
    --font-semibold: 700;

    --z-tooltip: 10;
    --z-fixed: ;
    --z-modal: 1000;

    --header-height: 3.5rem;
}

/*------------GENERAL-------------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input, 
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--first-color);
    color: var(--text-color)
}

h1,h2,h3 {
    font-weight: var(--font-semibold);
    color: var(--text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*------------CLASSES-------------*/

.container{
    /* max-width: 968px; */
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main{
    overflow: hidden;
}

.section{
    padding: 4rem 0 1rem;
}

.section__title,
.section__subtitle{
    text-align: center;
}

.section__title{
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
    color: var(--first-color-alt);
}

.section__subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*Header*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: .4s;
}

.nav__logo:hover{
    color: var(--first-color-alt);
}

.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: var(--container-color);
    width: 100%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}


/*-----------------HOME----------------*/

.home__container{
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
    
}

.home__data{
    text-align: center;
}

.home__greeting,
.home__education{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.home__greeting{
    display: block;
    color: var(--text-color-light);
    margin-bottom: .25rem;
}

.home__education{
    color: var(--text-color-light);
    margin-bottom: 2.5rem;
}

.home__name{
    font-size: var(--biggest-font-size );
    color:  var(--container-color);
}

.home__img{
    width: 160px;
    border-radius: 5rem;
    background-color: var(--first-color-alt);
}

.home__handle{
    justify-self: center;
    overflow: hidden;
}

.home__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home__social,
.home__scroll{
    position: absolute;
}

.home__social{
    bottom: 4rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
}

.home__social-link{
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color-alt);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1.25rem;
    transition: .4s;
}

.home__social-link:hover{
    background-color: var(--first-color-alt);
    color: var(--white);
}

/*---------Buttons--------*/

.button {
    display: inline-block;
    background-color: var(--first-color-alt);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .6rem;
    font-weight: var(--font-medium);
    transition: .4s;
}

.button:hover{
    background-color: var(--first-color-alt);
    color:var(--body-color);
}

.button__ghost{
    background-color: transparent;
    border: 1px solid var(--first-color-alt);
    color: var(--first-color-alt);
}

/*--------------ABOUT----------------*/

.about__container{
    row-gap: 2.5rem;
}

.about__img{
    width: 200px;
    border-radius: 1.25rem;
    justify-self: center;
}

.about__data{
    text-align: center;
}

.about__info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
}

.about__box{
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}

.about__icon{
    font-size: 1.5rem;
    color: var(--first-color-alt);
    margin-bottom: .5rem;
}

.about__title{
    font-size: var(--small-font-size);
}

.about__subtitle{
    font-size: var(--tiny-font-size);
}

.about__description{
    margin-bottom: 2rem;
    color: var(--container-color)
}

/*--------------SKILLS----------------*/

.skills__container{
    row-gap: 2rem;
    padding-top: 1rem;
}

.skills__content{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color-alt);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills__data{
    display: flex;
    column-gap: .5rem;
}

.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--first-color-alt);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level{
    font-size: var(--tiny-font-size);

}

/*--------SERVICES--------*/

.services__container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-top: 1rem;
}

.services__card{
    background-color: var(--container-color);
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 0.75rem;
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.services__button{
    color: var(--first-color-alt);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.services__button:hover .services__icon{
    transform: translateX(.25rem);
}

.services__icon{
    font-size: 1rem;
    transition: .4s;
}

/*--------WORK--------*/

.work__container{
    padding-top: 1rem;
}

.work__item{
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work__card{
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
}

.work__img{
    border-radius: 1rem;
    margin-bottom: .75rem;
}

.work__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.work__button{
    width: max-content;
    color: var(--first-color-alt);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.work__button:hover .work__icon{
    transform: translateX(.25rem);
}

.work__icon{
    font-size: 1rem;
    transition: .4s;
}

/*--------CONTACT--------*/

.contact__container{
    padding-top: 1rem;    
}

.contact__title{
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.contact__info{
    display: grid;
    gap: 1rem;
}

.contact__card{
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contact__card-icon{
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data{
    font-size: var(--small-font-size);
}

.contact__card-title{
    font-weight: var(--font-medium);
}

.contact__card-data{
    display: block;
    margin-bottom: .75rem;
}

.contact__button{
    color: var(--first-color-alt);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact__button:hover .contact__button-icon{
    transform: translateX(.25rem);
}

.contact__button-icon{
    font-size: 1rem;
    transition: .4s;
}

/*--------FOOTER--------*/

.footer{
    background-color: var(--first-color-alt);
}

.footer__container{
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link{
    color: var(--body-color);
}

.footer__title{
    text-align: center;
    margin-bottom: 2rem;
}

.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link{
    background-color: var(--body-color);
    color: var(--first-color-alt);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-flex;
}

.footer__copy{
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}